*.iml
*.ipr
*.iws
*~
.DS_Store
.checkstyle
.classpath
.factorypath
.fbExcludeFilterFile
.idea/
.metadata/
.project
.settings/
atlassian*
dist/eap/docker/jboss-eap-openshift.zip
dist/wildfly/docker/wildfly-openshift.zip
hs_err_pid*
target/
release.properties
